:root {
  --color-gray-50: #E0E0E1;
  --color-subdued: #FFFFFF;
  --color-emphasis: #000000;
  --color-primary: #4751A3;
  --color-primary-subdued: #D4EFFC;
  --color-primary-disabled-bg: #4751A340;
  --color-primary-emphasis-hover: #3B4289;
  --color-primary-disabled-border: #4751A350;
  --color-secondary: #FAC816;
  --color-secondary-subdued: #FEF4D0;
  --color-secondary-disabled-bg: #FAC81640;
  --color-secondary-disabled-border: #FAC81650;
  --color-secondary-emphasis-hover: #F7B61D;
  --color-success: #00B38F;
  --color-success-subdued: #A5D9CD;
  --color-success-disabled-bg: #00B38F40;
  --color-success-emphasis-hover: #009678;
  --color-success-disabled-border: #00B38F50;
  --color-attention: #F69320;
  --color-attention-subdued: #FBD6C6;
  --color-attention-disabled-bg: #F6932040;
  --color-attention-disabled-border: #F6932050;
  --color-attention-emphasis-hover: #F37823;
  --color-danger: #D91865;
  --color-danger-subdued: #F9CCD2;
  --color-danger-disabled-bg: #d9186540;
  --color-danger-disabled-border: #d9186550;
  --color-danger-emphasis-hover: #BF2167;
  --color-info: #4A5A63;
  --color-info-subdued: #C7C9CB;
  --color-info-disabled-bg: #4A5A6340;
  --color-info-disabled-border: #4A5A6350;
  --color-info-emphasis-hover: #32434C;
  --color-transparent: #ffffff00;
  /* figma example colors */
  --fe-magenta: #DA0063;
  --fe-orange: #F14725;
  --fe-coral: #F16C7F;
  --fe-amber: #FF9D48;
  --fe-yellow: #FAC70D;
  --fe-canary: #FDF445;
  --fe-green: #8FD14F;
  --fe-aqua: #15CDD4;
  --fe-cyan: #23BFE7;
  --fe-sky: #A6CCF5;
  --fe-blue: #2D9BF0;
  --fe-indigo: #414BB2;
  --fe-purple: #652CB3;
  --fe-violet: #9610AC;
  --fe-magenta-opacity-30: #DA006330;
  --fe-orange-opacity-30: #F1472530;
  --fe-coral-opacity-30: #F16C7F30;
  --fe-amber-opacity-30: #FF9D4830;
  --fe-yellow-opacity-30: #FAC70D30;
  --fe-canary-opacity-30: #FDF44530;
  --fe-green-opacity-30: #8FD14F30;
  --fe-aqua-opacity-30: #15CDD430;
  --fe-cyan-opacity-30: #23BFE730;
  --fe-sky-opacity-30: #A6CCF530;
  --fe-blue-opacity-30: #2D9BF030;
  --fe-indigo-opacity-30: #414BB230;
  --fe-purple-opacity-30: #652CB330;
  --fe-violet-opacity-30: #9610AC30;

  /* code block colors */
  --code-black: #0D1A2D;
  /* < > */
  --code-red: #DC5D5D;
  /* text not in quotes*/
  --code-coral: #FBDAD7;
  /* div */
  --code-orange: #F8A27E;
  /* prop */
  --code-lemon: #FDE8A8;
  /* { } */
  --code-yellow: #FFD65D;
  /* --code-lime: #; */
  /* = */
  --code-green: #66DFA9;
  /* location */
  --code-sea: #A1DFCF;
  /* true false */
  --code-aqua: #0DF0EF;
  /* window */
  --code-pool: #6FDCF1;
  /* text in '' after a prop */
  --code-ice: #D4EFFC;
  /* href */
  --code-sky: #92EDF0;
  /* => */
  --code-blue: #4B8EA9;
  /* --code-indigo: #; */
  /* ' ' . */
  --code-periwinkle: #A4B1E0;
  /* --code-purple: #; */
  /* ( ) and nested { } */
  --code-violet: #CD77D0;
  
  --periwinkle: #A7B9F2;
}

[type=checkbox],
[type=radio] {
  margin: 0;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.border-box {
  box-sizing: border-box;
}

.fg-primary {
  color: var(--color-primary);
}

.fg-secondary {
  color: var(--color-secondary);
}

.fg-success {
  color: var(--color-success);
}

.fg-attention {
  color: var(--color-attention);
}

.fg-danger {
  color: var(--color-danger);
}

.fg-info {
  color: var(--color-info);
}

.fg-emphasis {
  color: var(--color-emphasis);
}

.fg-subdued {
  color: var(--color-subdued);
}

.fg-primary-subdued {
  color: var(--color-primary-subdued);
}

.fg-secondary-subdued {
  color: var(--color-secondary-subdued);
}

.fg-success-subdued {
  color: var(--color-success-subdued);
}

.fg-attention-subdued {
  color: var(--color-attention-subdued);
}

.fg-danger-subdued {
  color: var(--color-danger-subdued);
}

.fg-info-subdued {
  color: var(--color-info-subdued);
}

.fg-transparent {
  color: var(--color-transparent)
}

.fg-magenta {
  color: var(--fe-magenta);
} 

.fg-orange {
  color: var(--fe-orange);
}

.fg-coral {
  color: var(--fe-coral);
}

.fg-amber {
  color: var(--fe-amber);
}

.fg-yellow {
  color: var(--fe-yellow);
}

.fg-canary {
  color: var(--fe-canary);
}

.fg-green {
  color: var(--fe-green);
}

.fg-aqua {
  color: var(--fe-aqua);
}

.fg-cyan {
  color: var(--fe-cyan);
}

.fg-sky {
  color: var(--fe-sky);
}

.fg-blue {
  color: var(--fe-blue);
}

.fg-indigo {
  color: var(--fe-indigo);
}

.fg-purple {
  color: var(--fe-purple)
}

.fg-violet {
  color: var(--fe-violet)
}

.fg-code-red {
  color: var(--code-red);
}

.fg-code-coral {
  color: var(--code-coral);
}

.fg-code-orange {
  color: var(--code-orange);
}

.fg-code-yellow {
  color: var(--code-yellow);
}

.fg-code-lemon {
  color: var(--code-lemon);
}

.fg-code-green {
  color: var(--code-green);
}

.fg-code-sea {
  color: var(--code-sea);
}

.fg-code-aqua {
  color: var(--code-aqua);
}

.fg-code-pool {
  color: var(--code-pool);
}

.fg-code-ice {
  color: var(--code-ice);
}

.fg-code-sky {
  color: var(--code-sky);
}

.fg-code-blue {
  color: var(--code-blue);
}

.fg-code-periwinkle {
  color: var(--code-periwinkle);
}

.fg-code-violet {
  color: var(--code-violet);
}

.fill-primary {
  fill: var(--color-primary);
}

.fill-secondary {
  fill: var(--color-secondary);
}

.fill-success {
  fill: var(--color-success);
}

.fill-attention {
  fill: var(--color-attention);
}

.fill-danger {
  fill: var(--color-danger);
}

.fill-info {
  fill: var(--color-info);
}

.fill-emphasis {
  fill: var(--color-emphasis);
}

.fill-subdued {
  fill: var(--color-subdued);
}

.fill-primary-subdued {
  fill: var(--color-primary-subdued);
}

.fill-secondary-subdued {
  fill: var(--color-secondary-subdued);
}

.fill-success-subdued {
  fill: var(--color-success-subdued);
}

.fill-attention-subdued {
  fill: var(--color-attention-subdued);
}

.fill-danger-subdued {
  fill: var(--color-danger-subdued);
}

.fill-info-subdued {
  fill: var(--color-info-subdued);
}

.fill-emphasis {
  fill: var(--color-emphasis);
}

.fill-subdued {
  fill: var(--color-subdued);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-success {
  background-color: var(--color-success);
}

.bg-attention {
  background-color: var(--color-attention);
}

.bg-danger {
  background-color: var(--color-danger);
}

.bg-info {
  background-color: var(--color-info);
}

.bg-emphasis {
  background-color: var(--color-emphasis);
}

.bg-primary-subdued {
  background-color: var(--color-primary-subdued);
}

.bg-secondary-subdued {
  background-color: var(--color-secondary-subdued);
}

.bg-success-subdued {
  background-color: var(--color-success-subdued);
}

.bg-attention-subdued {
  background-color: var(--color-attention-subdued);
}

.bg-danger-subdued {
  background-color: var(--color-danger-subdued);
}

.bg-info-subdued {
  background-color: var(--color-info-subdued);
}

.bg-subdued-gradient-vertical {
  background: linear-gradient(180deg, var(--color-subdued), var(--color-gray-50));
}

.bg-magenta {
  background-color: var(--fe-magenta);
}

.bg-magenta-opacity-30 {
  background-color: var(--fe-magenta-opacity-30);
}

.bg-orange {
  background-color: var(--fe-orange);
}

.bg-orange-opacity-30 {
  background-color: var(--fe-orange-opacity-30);
}

.bg-coral {
  background-color: var(--fe-coral);
}

.bg-coral-opacity-30 {
  background-color: var(--fe-coral-opacity-30);
}

.bg-amber {
  background-color: var(--fe-amber);
}

.bg-amber-opacity-30 {
  background-color: var(--fe-amber-opacity-30);
}

.bg-yellow {
  background-color: var(--fe-yellow);
}

.bg-yellow-opacity-30 {
  background-color: var(--fe-yellow-opacity-30);
}

.bg-canary {
  background-color: var(--fe-canary);
}

.bg-canary-opacity-30 {
  background-color: var(--fe-canary-opacity-30);
}

.bg-green {
  background-color: var(--fe-green);
}

.bg-green-opacity-30 {
  background-color: var(--fe-green-opacity-30);
}

.bg-aqua {
  background-color: var(--fe-aqua);
}

.bg-aqua-opacity-30 {
  background-color: var(--fe-aqua-opacity-30);
}

.bg-cyan {
  background-color: var(--fe-cyan);
}

.bg-cyan-opacity-30 {
  background-color: var(--fe-cyan-opacity-30);
}

.bg-sky {
  background-color: var(--fe-sky);
}

.bg-sky-opacity-30 {
  background-color: var(--fe-sky-opacity-30);
}

.bg-blue {
  background-color: var(--fe-blue);
}

.bg-blue-opacity-30 {
  background-color: var(--fe-blue-opacity-30);
}

.bg-indigo {
  background-color: var(--fe-indigo);
}

.bg-indigo-opacity-30 {
  background-color: var(--fe-indigo-opacity-30);
}

.bg-purple {
  background-color: var(--fe-purple)
}

.bg-purple-opacity-30 {
  background-color: var(--fe-purple-opacity-30);
}

.bg-violet {
  background-color: var(--fe-violet)
}

.bg-violet-opacity-30 {
  background-color: var(--fe-violet-opacity-30);
}

.bg-subdued {
  background-color: var(--color-subdued);
}

.bg-code-black {
  background-color: var(--code-black);
}

.border-xs {
  border: 1px solid var(--color-emphasis);
}

.border-sm {
  border: 2px solid var(--color-emphasis);
}

.border-md {
  border: 4px solid var(--color-emphasis);
}

.border-lg {
  border: 6px solid var(--color-emphasis);
}

.border-xl {
  border: 8px solid var(--color-emphasis);
}

.border-solid {
  border-style: solid;
}

.border-bottom-sm {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
}

.border-primary {
  border-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}

.border-success {
  border-color: var(--color-success);
}

.border-attention {
  border-color: var(--color-attention);
}

.border-danger {
  border-color: var(--color-danger);
}

.border-info {
  border-color: var(--color-info);
}

.border-emphasis {
  border-color: var(--color-emphasis);
}

.border-primary-subdued {
  border-color: var(--color-primary-subdued);
}

.border-secondary-subdued {
  border-color: var(--color-secondary-subdued);
}

.border-success-subdued {
  border-color: var(--color-success-subdued);
}

.border-attention-subdued {
  border-color: var(--color-attention-subdued);
}

.border-danger-subdued {
  border-color: var(--color-danger-subdued);
}

.border-info-subdued {
  border-color: var(--color-info-subdued);
}

.border-magenta {
  border-color: var(--fe-magenta);
}

.border-orange {
  border-color: var(--fe-orange);
}

.border-coral {
  border-color: var(--fe-coral);
}

.border-amber {
  border-color: var(--fe-amber);
}

.border-yellow {
  border-color: var(--fe-yellow);
}

.border-canary {
  border-color: var(--fe-canary);
}

.border-green {
  border-color: var(--fe-green);
}

.border-aqua {
  border-color: var(--fe-aqua);
}

.border-cyan {
  border-color: var(--fe-cyan);
}

.border-sky {
  border-color: var(--fe-sky);
}

.border-blue {
  border-color: var(--fe-blue);
}

.border-indigo {
  border-color: var(--fe-indigo);
}

.border-purple {
  border-color: var(--fe-purple)
}

.border-violet {
  border-color: var(--fe-violet)
}

.border-code-black {
  border-color: var(--code-black)
}

.border-transparent {
  border-color: #ffffff00;
}

.border-t {
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.border-t-none {
  border-top-width: 0px;
}

.border-r-none {
  border-right-width: 0px;
}
/* border-top-left-radius: 50%; */

.border-r {
  border-top-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.border-t-none {
  border-top-width: 0px;
}

.border-r-none {
  border-right-width: 0px;
}

.border-b-none {
  border-bottom-width: 0px;
}

.border-y-none {
  border-top: 0px;
  border-bottom-width: 0px;
}

.border-l-none {
  border-left-width: 0px;
}

.rounded-xs {
  border-radius: 1px;
}

.rounded-sm {
  border-radius: 2px;
}

.rounded-md {
  border-radius: 4px;
}

.rounded-lg {
  border-radius: 6px;
}

.rounded-xl {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-t-lg {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.rounded-b-lg {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.row-wrap {
  flex-wrap: wrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.font-size-150 {
  font-size: 1.5em;
}

.font-size-175 {
  font-size: 1.75em;
}


.gap-100 {
  gap: 8px;
}

.gap-150 {
  gap: 12px;
}

.gap-200 {
  gap: 16px;
}

.gap-300 {
  gap: 24px;
}

.gap-400 {
  gap: 32px;
}

.grid-color-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.h-150 {
  height: 12px;
}

.h-300 {
  height: 24px;
}

.h-400 {
  height: 32px;
}

.h-350 {
  height: 28px;
}

.h-400 {
  height: 32px;
}

.h-700 {
  height: 56px;
}

.h-800 {
  height: 64px;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-items-end {
  justify-items: end;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.align-end {
  align-items: end;
}

.my-block-100 {
  margin-block-end: .5em;
  margin-block-start: .5em;
}

.m-block-none {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.mb-block-none {
  margin-block-end: 0px;
}

.mt-block-50 {
  margin-block-start: .25em;
}

.mt-block-100 {
  margin-block-start: .5em;
}

.m-100 {
  margin: 8px;
}

.m-200 {
  margin: 16px;
}

.mt-50 {
  margin-top: 4px;
}

.mt-100 {
  margin-top: 8px;
}

.mt-150 {
  margin-top: 12px;
}

.mt-200 {
  margin-top: 16px;
}

.mr-50 {
  margin-right: 4px;
}

.mr-100 {
  margin-right: 8px;
}

.mr-150 {
  margin-right: 12px;
}

.mr-200 {
  margin-right: 16px;
}

.mb-50 {
  margin-bottom: 4px;
}

.mb-100 {
  margin-bottom: 8px;
}

.mb-150 {
  margin-bottom: 12px;
}

.mb-200 {
  margin-bottom: 16px;
}

.mb-300 {
  margin-bottom: 24px;
}

.ml-50 {
  margin-left: 4px;
}

.ml-100 {
  margin-left: 8px;
}

.ml-150 {
  margin-left: 12px;
}

.ml-200 {
  margin-left: 16px;
}

.mx-50 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-75 {
  margin-left: 6px;
  margin-right: 6px;
}

.mx-100 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-200 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-300 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-150 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-400 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.opacity-50 {
  opacity: .5;
}

.p-100 {
  padding: 8px;
}

.p-150 {
  padding: 12px;
}

.p-200 {
  padding: 16px;
}

.pt-100 {
  padding-top: 8px;
}

.pt-200 {
  padding-top: 16px;
}


.pb-100 {
  padding-bottom: 8px;
}

.pb-150 {
  padding-bottom: 12px;
}


.pb-200 {
  padding-bottom: 16px;
}

.pl-100 {
  padding-left: 8px;
}

.pl-150 {
  padding-left: 12px;
}


.px-75 {
  padding-left: 6px;
  padding-right: 6px;
}

.px-100 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-150 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-200 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-300 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-50 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-100 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-150 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-200 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-300 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-400 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.overflow-hidden {
  overflow: hidden;
}

.w-300 {
  width: 24px;
}

.w-700 {
  width: 56px;
}

.w-800 {
  width: 64px;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.33333%;
}

.w-1\/4 {
  width: 25%;
}

.w-1\/6 {
  width: 16.66666%;
}

.w-1\/24 {
  width: 4.16666%;
}

.w-1\/12 {
  width: 8.33333%;
}

.w-2\/12 {
  width: 16.66666%;
}

.w-3\/12 {
  width: 25%;
}

.w-7\/24 {
  width: 29.16666%;
}

.w-4\/12 {
  width: 33.33333%;
}

.w-9\/24 {
  width: 37.5%;
}

.w-5\/12 {
  width: 41.66666%;
}

.w-11\/24 {
  width: 45.83333%;
}

.w-6\/12 {
  width: 50%;
}

.w-7\/12 {
  width: 58.33333%;
}

.w-8\/12 {
  width: 66.66666%;
}

.w-9\/12 {
  width: 75%;
}

.w-10\/12 {
  width: 83.33333%;
}

.w-11\/12 {
  width: 91.66666%;
}

.w-full {
  width: 100%;
}

.max-w-5600 {
  max-width: 448px;
}

/* .max-w-6200 {
  max-width: 496px;
} */

.checkbox {
  cursor: pointer;
  box-sizing: border-box;
  width: 1.96em;
  height: 1.96em;
  border: 2px solid var(--color-primary);
  border-radius: 0.4375em;
  margin-right: 0.875em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 14px;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox:hover {
  background-color: var(--color-primary-subdued);
}

.checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-primary-disabled-bg);
}

.checkbox:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox:checked[aria-checked=mixed] {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3crect x='1' y='3' width='6' height='2' fill='%23fff'/%3e%3c/svg%3e");
}

.checkbox:checked:hover {
  background-color: var(--color-primary-emphasis-hover);
  border-color: var(--color-primary-emphasis-hover);
}

.checkbox:disabled,
.checkbox:checked:disabled {
  cursor: not-allowed;
  border-color: var(--color-primary-disabled-border);
  background-color: var(--color-primary-disabled-bg);
}

.success .checkbox {
  border: 2px solid var(--color-success);
}

.success .checkbox:hover {
  background-color: var(--color-success-subdued);
}

.success .checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-success-subdued);
}

.success .checkbox:checked {
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.success .checkbox:checked[aria-checked=mixed] {
  border-color: var(--color-success);
  background-color: var(--color-success);
}

.success .checkbox:checked:hover {
  background-color: var(--color-success-emphasis-hover);
  border-color: var(--color-success-emphasis-hover);
}

.success .checkbox:disabled,
.success .checkbox:checked:disabled {
  cursor: not-allowed;
  border-color: var(--color-success-disabled-border);
  background-color: var(--color-success-disabled-bg);
}

.attention .checkbox {
  border: 2px solid var(--color-attention);
}

.attention .checkbox:hover {
  background-color: var(--color-attention-subdued);
}

.attention .checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-attention-subdued);
}

.attention .checkbox:checked {
  background-color: var(--color-attention);
  border-color: var(--color-attention);
}

.attention .checkbox:checked[aria-checked=mixed] {
  border-color: var(--color-attention);
  background-color: var(--color-attention);
}

.attention .checkbox:checked:hover {
  background-color: var(--color-attention-emphasis-hover);
  border-color: var(--color-attention-emphasis-hover);
}

.attention .checkbox:disabled,
.attention .checkbox:checked:disabled {
  cursor: not-allowed;
  border-color: var(--color-attention-disabled-border);
  background-color: var(--color-attention-disabled-bg);
}

.danger .checkbox {
  border: 2px solid var(--color-danger);
}

.danger .checkbox:hover {
  background-color: var(--color-danger-subdued);
}

.danger .checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-danger-subdued);
}

.danger .checkbox:checked {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}

.danger .checkbox:checked[aria-checked=mixed] {
  border-color: var(--color-danger);
  background-color: var(--color-danger);
}

.danger .checkbox:checked:hover {
  background-color: var(--color-danger-emphasis-hover);
  border-color: var(--color-danger-emphasis-hover);
}

.danger .checkbox:disabled,
.danger .checkbox:checked:disabled {
  cursor: not-allowed;
  border-color: var(--color-danger-disabled-border);
  background-color: var(--color-danger-disabled-bg);
}

.info .checkbox {
  border: 2px solid var(--color-info);
}

.info .checkbox:hover {
  background-color: var(--color-info-subdued);
}

.info .checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-info-subdued);
}

.info .checkbox:checked {
  background-color: var(--color-info);
  border-color: var(--color-info);
}

.info .checkbox:checked[aria-checked=mixed] {
  border-color: var(--color-info);
  background-color: var(--color-info);
}

.info .checkbox:checked:hover {
  background-color: var(--color-info-emphasis-hover);
  border-color: var(--color-info-emphasis-hover);
}

.info .checkbox:disabled,
.info .checkbox:checked:disabled {
  cursor: not-allowed;
  border-color: var(--color-info-disabled-border);
  background-color: var(--color-info-disabled-bg);
}

.radio {
  cursor: pointer;
  box-sizing: border-box;
  width: 1.96em;
  height: 1.96em;
  border: 2px solid var(--color-primary);
  background-color: var(--color-subdued);
  border-radius: 1.96em;
  margin-right: 0.875em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;
  -webkit-appearance: none;
  appearance: none;
}

.radio:hover {
  background-color: var(--color-primary-subdued);
}

.radio:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-primary-disabled-bg);
}

.radio:checked {
  border-color: var(--color-primary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3ccircle cx='15' cy='15' r='9' fill='%234751A3'/%3e%3c/svg%3e");
}

.radio:disabled,
.radio:checked:disabled {
  cursor: not-allowed;
  border-color: var(--color-primary-disabled-border);
  background-color: var(--color-primary-disabled-bg);
}

.success .radio {
  border: 2px solid var(--color-success);
}

.success .radio:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-success-subdued);
}

.success .radio:hover {
  background-color: var(--color-success-subdued);
}

.success .radio:checked {
  border-color: var(--color-success);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3ccircle cx='15' cy='15' r='9' fill='%2300B38F'/%3e%3c/svg%3e");
}

.success .radio:disabled,
.success .radio:checked:disabled {
  cursor: not-allowed;
  border-color: var(--color-success-disabled-border);
  background-color: var(--color-success-disabled-bg);
}

.attention .radio {
  border: 2px solid var(--color-attention);
}

.attention .radio:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-attention-subdued);
}

.attention .radio:hover {
  background-color: var(--color-attention-subdued);
}

.attention .radio:checked {
  border-color: var(--color-attention);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3ccircle cx='15' cy='15' r='9' fill='%23F69320'/%3e%3c/svg%3e");
}

.attention .radio:disabled,
.attention .radio:checked:disabled {
  cursor: not-allowed;
  border-color: var(--color-attention-disabled-border);
  background-color: var(--color-attention-disabled-bg);
}

.danger .radio {
  border: 2px solid var(--color-danger);
}

.attention .radio:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-attention-subdued);
}

.danger .radio:hover {
  background-color: var(--color-danger-subdued);
}

.danger .radio:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-danger-subdued);
}

.danger .radio:checked {
  border-color: var(--color-danger);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3ccircle cx='15' cy='15' r='9' fill='%23D91865'/%3e%3c/svg%3e");
}

.danger .radio:disabled,
.danger .radio:checked:disabled {
  cursor: not-allowed;
  border-color: var(--color-danger-disabled-border);
  background-color: var(--color-danger-disabled-bg);
}

.info .radio {
  border: 2px solid var(--color-info);
}

.info .radio:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--color-info-subdued);
}

.info .radio:hover {
  background-color: var(--color-info-subdued);
}

.info .radio:hover {
  background-color: var(--color-info-subdued);
}

.info .radio:checked {
  border-color: var(--color-info);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3ccircle cx='15' cy='15' r='9' fill='%234A5A63'/%3e%3c/svg%3e");
}

.info .radio:disabled,
.info .radio:checked:disabled {
  cursor: not-allowed;
  border-color: var(--color-info-disabled-border);
  background-color: var(--color-info-disabled-bg);
}

/* =============================================== */
/* ~~~~~~~~~~~~~~~ min width 360px ~~~~~~~~~~~~~~~ */
/* =============================================== */
@media screen and (min-width:360px) {
  .sm-hidden {
    display: none;
  }

  .sm-block {
    display: block;
  }

  .sm-w-1\/2 {
    width: 50%;
  }

  .sm-w-1\/3 {
    width: 33.33333%;
  }

  .sm-w-1\/4 {
    width: 25%;
  }

  .sm-w-1\/6 {
    width: 16.66666%;
  }

  .sm-w-1\/12 {
    width: 8.33333%;
  }

  .sm-w-2\/12 {
    width: 16.66666%;
  }

  .sm-w-3\/12 {
    width: 25%;
  }

  .sm-w-4\/12 {
    width: 33.33333%;
  }

  .sm-w-5\/12 {
    width: 41.66666%;
  }

  .sm-w-6\/12 {
    width: 50%;
  }

  .sm-w-7\/12 {
    width: 58.33333%;
  }

  .sm-w-8\/12 {
    width: 66.66666%;
  }

  .sm-w-9\/12 {
    width: 75%;
  }

  .sm-w-10\/12 {
    width: 83.33333%;
  }

  .sm-w-11\/12 {
    width: 91.66666%;
  }

  .sm-w-full {
    width: 100%;
  }
}

/* =================================================== */
/* ~~~~~~~~~~~~~~~~~ min width 375px ~~~~~~~~~~~~~~~~~ */
/* =================================================== */
@media screen and (min-width:375px) {

  .hidden {
    display: none;
  }

  .block {
    display: block;
  }

}

/* ================================================ */
/* ~~~~~~~~~~~~~~~~ min width 466px ~~~~~~~~~~~~~~~ */
/* ================================================ */
@media screen and (min-width: 466px) {
  .sm-md-border-none {
    border: none;
  }
}

/* ================================================ */
/* ~~~~~~~~~~~~~~~~ min width 768px ~~~~~~~~~~~~~~~ */
/* ================================================ */
@media screen and (min-width: 768px) {

  .md-gap-300 {
    gap: 24px;
  }

  .md-font-size-150 {
    font-size: 1.5em;
  }

  .md-w-3\/4 {
    width: 75%;
  }

  .md-hidden {
    display: none;
  }

  .md-block {
    display: block;
  }

  .md-w-1\/2 {
    width: 50%;
  }

  .md-w-1\/3 {
    width: 33.33333%;
  }

  .md-w-1\/4 {
    width: 25%;
  }

  .md-w-1\/6 {
    width: 16.66666%;
  }

  .md-w-1\/12 {
    width: 8.33333%;
  }

  .md-w-2\/12 {
    width: 16.66666%;
  }

  .md-w-3\/12 {
    width: 25%;
  }

  .md-w-4\/12 {
    width: 33.33333%;
  }

  .md-w-5\/12 {
    width: 41.66666%;
  }

  .md-w-6\/12 {
    width: 50%;
  }

  .md-w-7\/12 {
    width: 58.33333%;
  }

  .md-w-8\/12 {
    width: 66.66666%;
  }

  .md-w-9\/12 {
    width: 75%;
  }

  .md-w-10\/12 {
    width: 83.33333%;
  }

  .md-w-11\/12 {
    width: 91.66666%;
  }

  .md-w-full {
    width: 100%;
  }

  .md-mx-100 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .md-mx-300 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .md-px-100 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .md-px-200 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* =================================================== */
/* ~~~~~~~~~~~~~~~~~ min width 810px ~~~~~~~~~~~~~~~~~ */
/* =================================================== */
@media screen and (min-width:810px) {

  .grid-color-cards {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* ================================================== */
/* ~~~~~~~~~~~~ DESKTOP | min width 940px ~~~~~~~~~~~ */
/* ================================================== */
@media screen and (min-width:940px) {
  .lg-hidden {
    display: none;
  }

  .lg-block {
    display: block;
  }

  .lg-w-1\/2 {
    width: 50%;
  }

  .lg-w-1\/3 {
    width: 33.33333%;
  }

  .lg-w-1\/4 {
    width: 25%;
  }

  .lg-w-1\/6 {
    width: 16.66666%;
  }

  .lg-w-1\/12 {
    width: 8.33333%;
  }

  .lg-w-2\/12 {
    width: 16.66666%;
  }

  .lg-w-3\/12 {
    width: 25%;
  }

  .lg-w-4\/12 {
    width: 33.33333%;
  }

  .lg-w-5\/12 {
    width: 41.66666%;
  }

  .lg-w-6\/12 {
    width: 50%;
  }

  .lg-w-7\/12 {
    width: 58.33333%;
  }

  .lg-w-8\/12 {
    width: 66.66666%;
  }

  .lg-w-9\/12 {
    width: 75%;
  }

  .lg-w-10\/12 {
    width: 83.33333%;
  }

  .lg-w-11\/12 {
    width: 91.66666%;
  }

  .lg-w-full {
    width: 100%;
  }

  .lg-flex-row {
    flex-direction: row;
  }

}

/* ==================================================== */
/* ~~~~~~~~ iPAD HORIZONTAL | min width 1024px ~~~~~~~~ */
/* ==================================================== */
@media screen and (min-width:1024px) {
  .xl-hidden {
    display: none;
  }

  .xl-block {
    display: block;
  }

  .xl-w-1\/2 {
    width: 50%;
  }

  .xl-w-1\/3 {
    width: 33.33333%;
  }

  .xl-w-1\/4 {
    width: 25%;
  }

  .xl-w-1\/6 {
    width: 16.66666%;
  }

  .xl-w-1\/12 {
    width: 8.33333%;
  }

  .xl-w-2\/12 {
    width: 16.66666%;
  }

  .xl-w-3\/12 {
    width: 25%;
  }

  .xl-w-4\/12 {
    width: 33.33333%;
  }

  .xl-w-5\/12 {
    width: 41.66666%;
  }

  .xl-w-6\/12 {
    width: 50%;
  }

  .xl-w-7\/12 {
    width: 58.33333%;
  }

  .xl-w-8\/12 {
    width: 66.66666%;
  }

  .xl-w-9\/12 {
    width: 75%;
  }

  .xl-w-10\/12 {
    width: 83.33333%;
  }

  .xl-w-11\/12 {
    width: 91.66666%;
  }

  .xl-w-full {
    width: 100%;
  }
}

/* ================================================== */
/* ~~~~~~~~~~~~~~~~ min width 1200px ~~~~~~~~~~~~~~~~ */
/* ================================================== */
@media screen and (min-width:1200px) {
  .xxl-hidden {
    display: none;
  }

  .xxl-block {
    display: block;
  }

  .xxl-w-1\/2 {
    width: 50%;
  }

  .xxl-w-1\/3 {
    width: 33.33333%;
  }

  .xxl-w-1\/4 {
    width: 25%;
  }

  .xxl-w-1\/6 {
    width: 16.66666%;
  }

  .xxl-w-1\/12 {
    width: 8.33333%;
  }

  .xxl-w-2\/12 {
    width: 16.66666%;
  }

  .xxl-w-3\/12 {
    width: 25%;
  }

  .xxl-w-4\/12 {
    width: 33.33333%;
  }

  .xxl-w-5\/12 {
    width: 41.66666%;
  }

  .xxl-w-6\/12 {
    width: 50%;
  }

  .xxl-w-7\/12 {
    width: 58.33333%;
  }

  .xxl-w-8\/12 {
    width: 66.66666%;
  }

  .xxl-w-9\/12 {
    width: 75%;
  }

  .xxl-w-10\/12 {
    width: 83.33333%;
  }

  .xxl-w-11\/12 {
    width: 91.66666%;
  }

  .xxl-w-full {
    width: 100%;
  }

  .grid-color-cards {
    grid-template-columns: repeat(3, 1fr);
  }

}

/* ================================================ */
/* ~~~~~~~~~~~~~~~ min width 1420px ~~~~~~~~~~~~~~~ */
/* ================================================ */
@media screen and (min-width:1420px) {
  .exl-hidden {
    display: none;
  }

  .exl-block {
    display: block;
  }

  .exl-w-1\/2 {
    width: 50%;
  }

  .exl-w-1\/3 {
    width: 33.33333%;
  }

  .exl-w-1\/4 {
    width: 25%;
  }

  .exl-w-1\/6 {
    width: 16.66666%;
  }

  .exl-w-1\/24 {
    width: 4.16666%;
  }

  .exl-w-1\/12 {
    width: 8.33333%;
  }

  .exl-w-3\/24 {
    width: 12.5%;
  }

  .exl-w-2\/12 {
    width: 16.66666%;
  }

  .exl-w-5\/24 {
    width: 20.83333%;
  }

  .exl-w-3\/12 {
    width: 25%;
  }

  .exl-w-7\/24 {
    width: 29.16666%;
  }

  .exl-w-4\/12 {
    width: 33.33333%;
  }

  .exl-w-9\/24 {
    width: 37.5%;
  }

  .exl-w-5\/12 {
    width: 41.66666%;
  }

  .exl-w-11\/24 {
    width: 45.83333%;
  }

  .exl-w-6\/12 {
    width: 50%;
  }

  .exl-w-13\/24 {
    width: 54.16666%;
  }

  .exl-w-7\/12 {
    width: 58.33333%;
  }

  .exl-w-15\/24 {
    width: 62.5%;
  }

  .exl-w-8\/12 {
    width: 66.66666%;
  }

  .exl-w-17\/24 {
    width: 70.83333%;
  }

  .exl-w-9\/12 {
    width: 75%;
  }

  .exl-w-19\/24 {
    width: 79.16666%;
  }

  .exl-w-10\/12 {
    width: 83.33333%;
  }

  .exl-w-21\/24 {
    width: 87.5%;
  }

  .exl-w-11\/12 {
    width: 91.66666%;
  }

  .exl-w-23\/24 {
    width: 95.83333%;
  }

  .exl-w-full {
    width: 100%;
  }

}

/* ================================================ */
/* ~~~~~~~~~~~~~~~ min width 1615px ~~~~~~~~~~~~~~~ */
/* ================================================ */
@media screen and (min-width:1615px) {

  /* .grid-color-cards {
    grid-template-columns: repeat(4, 1fr);
  } */

}
